.paragraph-1-copy-3 {
	width: 412px;
	height: 47px;
	color: #060300;
	font-family: "Raleway";
	font-weight: 500;
	font-size: 36px;
	line-height: 1.3;
	text-align: left;
}
.carne-de-vacuno-con-tomate-lechuga-queso-y-doble {
	width: 480px;
	height: 99px;
	opacity: 80%
	color: #060300;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	text-align: left;
}
.paragraph-1-copy-4 {
	width: 69px;
	height: 47px;
	color: #060300;
	font-family: "Raleway";
	font-weight: 500;
	font-size: 36px;
	line-height: 1.3;
	text-align: left;
}
.horizontal-line-1-copy-4 {
	width: 480px;
	height: 1px;
	opacity: 30%
	border-color: #606060;
	border-width: 1px;
	border-style: solid;
}
.button-1-copy {
	width: 194px;
	height: 42px;
	padding: 0px 10px 0px 10px;
	background: #F39221;
	color: #060300;
	border-color: #060300;
	border-width: 1px;
	border-style: solid;
	font-family: "Raleway";
	font-weight: 500;
	font-size: 18px;
	text-align: center;
}
.horizontal-line-1-copy-5 {
	width: 480px;
	height: 1px;
	opacity: 30%
	border-color: #606060;
	border-width: 1px;
	border-style: solid;
}
.paragraph-1-copy {
	width: 274px;
	height: 46px;
	color: #060300;
	font-family: "Raleway";
	font-weight: 500;
	font-size: 36px;
	line-height: 1.3;
	text-align: center;
}
.paragraph-1-copy-2 {
	width: 139px;
	height: 46px;
	color: #060300;
	font-family: "Raleway";
	font-weight: 500;
	font-size: 36px;
	line-height: 1.3;
	text-align: center;
}
.rating-7 {
	width: 150px;
	height: 20px;
	background: #F39221;
}
.favorite-border-icon-1 {
	width: 24px;
	height: 24px;
	background: #444444;
}
.4-reviews {
	width: 108px;
	height: 29px;
	opacity: 80%
	color: #060300;
	font-family: "Source Sans 3";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	text-align: left;
}
.image-placeholder-1-copy-2 {
	width: 189px;
	height: 234px;
	background: #FFFFFF;
	border-color: #AAAAAA;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
}
.paragraph-3-copy-2 {
	width: 169px;
	height: 41px;
	color: #060300;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 18px;
	line-height: 1.3;
	text-align: left;
}
.paragraph-3-copy-8 {
	width: 102px;
	height: 31px;
	color: #060300;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 18px;
	line-height: 1.3;
	text-align: left;
}
.rating-8 {
	width: 102px;
	height: 14px;
	background: #7A7A7A;
}
.image-placeholder-1-copy-5 {
	width: 189px;
	height: 234px;
	background: #FFFFFF;
	border-color: #AAAAAA;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
}
.paragraph-3-copy-3 {
	width: 169px;
	height: 41px;
	color: #060300;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 18px;
	line-height: 1.3;
	text-align: left;
}
.paragraph-3-copy-9 {
	width: 102px;
	height: 31px;
	color: #060300;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 18px;
	line-height: 1.3;
	text-align: left;
}
.rating-9 {
	width: 102px;
	height: 14px;
	background: #7A7A7A;
}
.image-placeholder-1-copy-6 {
	width: 189px;
	height: 234px;
	background: #FFFFFF;
	border-color: #AAAAAA;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
}
.paragraph-3-copy-4 {
	width: 169px;
	height: 41px;
	color: #060300;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 18px;
	line-height: 1.3;
	text-align: left;
}
.paragraph-3-copy-10 {
	width: 102px;
	height: 31px;
	color: #060300;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 18px;
	line-height: 1.3;
	text-align: left;
}
.rating-10 {
	width: 102px;
	height: 14px;
	background: #7A7A7A;
}
.image-placeholder-1-copy-7 {
	width: 189px;
	height: 234px;
	background: #FFFFFF;
	border-color: #AAAAAA;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
}
.paragraph-3-copy-5 {
	width: 169px;
	height: 41px;
	color: #060300;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 18px;
	line-height: 1.3;
	text-align: left;
}
.paragraph-3-copy-11 {
	width: 102px;
	height: 31px;
	color: #060300;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 18px;
	line-height: 1.3;
	text-align: left;
}
.rating-11 {
	width: 102px;
	height: 14px;
	background: #7A7A7A;
}
.image-placeholder-1-copy-10 {
	width: 189px;
	height: 234px;
	background: #FFFFFF;
	border-color: #AAAAAA;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
}
.paragraph-3-copy-12 {
	width: 169px;
	height: 41px;
	color: #060300;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 18px;
	line-height: 1.3;
	text-align: left;
}
.paragraph-3-copy-13 {
	width: 102px;
	height: 31px;
	color: #060300;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 18px;
	line-height: 1.3;
	text-align: left;
}
.rating-12 {
	width: 102px;
	height: 14px;
	background: #7A7A7A;
}
.paragraph-2 {
	width: 625px;
	height: 127px;
	color: #000000;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	text-align: left;
}
.avatar-1 {
	width: 50px;
	height: 50px;
	background: #EBEBEB;
	border-radius: 25px 25px 25px 25px;
}
.paragraph-3-copy-7 {
	width: 169px;
	height: 30px;
	color: #000000;
	font-family: "Raleway";
	font-weight: 500;
	font-size: 18px;
	line-height: 1.3;
	text-align: left;
}
.paragraph-3-copy-14 {
	width: 169px;
	height: 30px;
	color: #000000;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
}
.rating-13 {
	width: 123px;
	height: 17px;
	background: #7A7A7A;
}
.horizontal-line-3 {
	width: 1280px;
	height: 1px;
	border-color: #929292;
	border-width: 1px;
	border-style: solid;
}
.paragraph-3 {
	width: 625px;
	height: 127px;
	color: #000000;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	text-align: left;
}
.avatar-2 {
	width: 50px;
	height: 50px;
	background: #EBEBEB;
	border-radius: 25px 25px 25px 25px;
}
.paragraph-3-copy-15 {
	width: 169px;
	height: 30px;
	color: #000000;
	font-family: "Raleway";
	font-weight: 500;
	font-size: 18px;
	line-height: 1.3;
	text-align: left;
}
.paragraph-3-copy-16 {
	width: 169px;
	height: 30px;
	color: #000000;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
}
.rating-14 {
	width: 123px;
	height: 17px;
	background: #7A7A7A;
}
.horizontal-line-5 {
	width: 1280px;
	height: 1px;
	border-color: #929292;
	border-width: 1px;
	border-style: solid;
}
.rectangle-6 {
	width: 1280px;
	height: 282px;
	padding: 8px 8px 8px 8px;
	background: #F39221;
	border-color: #F39221;
	border-width: 1px;
	border-style: solid;
}
.grupo-footer-1 {
	width: 227px;
	height: 39px;
	color: #060300;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 28px;
	text-align: left;
}
.grupo-footer-2 {
	width: 150px;
	height: 39px;
	color: #060300;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 28px;
	text-align: left;
}
.grupo-footer-3 {
	width: 170px;
	height: 39px;
	color: #060300;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 28px;
	text-align: left;
}
.grupo-24 {
	width: 186px;
	height: 40px;
	color: #060300;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
}
.grupo-25 {
	width: 212px;
	height: 40px;
	color: #060300;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
}
.grupo-26 {
	width: 212px;
	height: 40px;
	color: #060300;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
}
.captura-de-pantalla-2025-03-12-a-las-17-47-30-png-1 {
	width: 218px;
	height: 166px;
	background: #00000000;
}
.productos {
	width: 132px;
	height: 39px;
	color: #060300;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 28px;
	text-align: left;
}
.search-input-1 {
	width: 332px;
	height: 36px;
	background: #FFFFFF00;
	color: #060300;
	border-color: #060300;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px 2px 2px 2px;
	font-family: "Source Sans 3";
	font-weight: 400;
	font-size: 15px;
	text-align: left;
}
.link-bar-1 {
	width: 568px;
	height: 36px;
	color: #060300;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 16px;
	text-align: center;
}
.button-1-copy-1 {
	width: 170px;
	height: 36px;
	padding: 0px 10px 0px 36px;
	background: #F39221;
	color: #060300;
	border-color: #F39221;
	border-width: 1px;
	border-style: solid;
	font-family: "Raleway";
	font-weight: 500;
	font-size: 16px;
	text-align: left;
}
.avatar-3 {
	width: 35px;
	height: 35px;
	background: #FEFCE0;
	border-color: #060300;
	border-width: 1px;
	border-style: solid;
	border-radius: 1px 1px 1px 1px;
}
.image-pasted-2025-14-03-at-15-46-45-png {
	width: 416px;
	height: 422px;
	background: #00000000;
	border-color: #F39221;
	border-width: 2px;
	border-style: solid;
}
.captura-de-pantalla-2025-03-12-a-las-17-20-04-png-1 {
	width: 90px;
	height: 83px;
	background: #00000000;
}